.w-100{
    width: 100%!important;
}

.v-dialog .row {
    margin: 0!important;
}

.bg-color {
    background-color: #0844a4!important;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row!important;
}

.flex-col {
    flex-direction: column!important;
}

.white-text {
    color: white;
}

.d-flex{
    display: flex!important;
}

.justify-end {
    justify-content: end!important;
}

.align-center {
    align-items: center;
}

::-webkit-scrollbar {
    width: 14px!important;
    height: 14px!important;
    cursor: pointer;
}
::-webkit-scrollbar-button {
    width: 0px!important;
    height: 0px!important;
}
::-webkit-scrollbar-thumb {
    background: royalblue!important;
    border: 69px none #ffffff!important;
    border-radius: 50px!important;
}
::-webkit-scrollbar-thumb:hover {
    background: #5b92ea!important;
}
::-webkit-scrollbar-track {
    background: #0844a4!important;
    border: 43px none #621d1d!important;
    border-radius: 50px!important;
}
::-webkit-scrollbar-corner {
    background: transparent!important;
}
